@media screen and (max-width: 600px) {
  .w3-button.w3-teal {
    width: 100%; /* Set the button width to 100% for screens smaller than 600px */
  }
  
}
@media screen and (max-width: 600px) {
    .w3-button.w3-teal {
      width: 100%;
      min-height: auto; /* Reset the height */
      white-space: normal; /* Allow the text to wrap onto the next line */
    }
  }
  