.container2 {
  display: grid;
  grid-template-columns: auto 1fr; /* first column for image .... second column for paragraph */
  align-items: center; /* align items vertically in the center */
  column-gap: 10px; 
}

.image2 {
  grid-column: 1 / 2; /* Image occupies the first column */
}

.paragraph2 {
  grid-column: 2 / 3; /* Paragraph occupies the second column */
}

#ABC {
    margin-top: 100px;
    max-width:1400px;
  }

p.round2 {
  border: 2px solid teal;
  border-radius: 8px;
  padding: 5px;
 }

table.center {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 20%;
}
  
table {
  width: 60%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


* {
  box-sizing: border-box
}

body {
  font-family: "Lato", sans-serif;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 5px 14px;
  width: 100%;
  border: 1px;
  outline: 1px;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 100%;
}

/* Responsive Table */
@media screen and (max-width: 600px) {
  .responsive-table tr, .responsive-table td {
    display: block;
    width: 100%;
  }

  .responsive-table tr td {
    border: none;
    border-bottom: 1px solid #ddd;
  }

  .responsive-table tr td:last-child {
    border-bottom: none;
  }

  .responsive-table tr {
    margin-bottom: 10px;
  }
}


.project {
  transition: transform 0.3s, background-color 0.3s;
  margin: 0 40px;
}

.project:hover {
  transform: scale(1.05);
  background-color: #333;
}

.projects-section {
  background-color: #111010;
  padding: 20px;
  margin-bottom: 20px;
}

.project-title {
  color: #00bfae;
  font-size: 24px;
  margin-bottom: 10px;
}

.project-description {
  color: #fff;
  font-size: 18px;
}
