canvas {
  border: 1px solid white;
}

.button5 {
  background-color: #555555;
  color: white;
  margin: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  overflow: hidden;
  border: 2px solid #0d6efd;
  background-color: #28242c;
  font-size: 17;
  top: 1;
}

li {
  float: left;
  list-style-type: none;
}
li a {
  display: block;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: rgb(0, 0, 0);
  color: #0d6efd;
}
li a.active {
  color: white;
  background-color: #0d6efd;
}

MainHeading {
  text-shadow: rgb(13, 110, 253) 1px 1px 1px, rgb(13, 110, 253) 0px 2px 0px,
    rgb(13, 110, 253) 0px 3px 0px, rgba(13, 110, 253, 0.498) 0px 4px 0px,
    rgb(13, 110, 253) 0px 0px 0px, rgba(0, 0, 0, 0.498) 0px 5px 10px;
  /* font-size: 75px; */
  color: white;
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: 5vw;
}

SubHeading {
  letter-spacing: 0.03em;
  font-style: italic;
  margin-left: 50px;
  color: white;
  margin-top: 0px;
  font-size: 2vw;
}

SubHeading2 {
  letter-spacing: 0.03em;
  font-size: 25px;
  font-style: italic;
  margin-left: 50px;
  color: black;
  margin-top: 40px;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
