ul{
  margin: 0;
  padding: 0;
  margin-left: 10px;
  overflow: hidden;
  border: 2px solid #0d6efd;
  background-color: #28242c;
  font-size:17;
 top: 1;
}

li {
  float: left;
  list-style-type:none;

}
li a {
  display: block;
  color: black;
  padding: 10px 16px;
  text-decoration: none;

}
li a:hover:not(.active) {
  background-color: #ddd;
  color: black;

}
li a.active {
  color: black;
  background-color: #0d6efd;
}

MainHeading {text-shadow:
rgb(13, 110, 253) 1px 1px 1px, rgb(13, 110, 253) 0px 2px 0px,
rgb(13, 110, 253) 0px 3px 0px, rgba(13, 110, 253, 0.498) 0px 4px 0px, rgb(13, 110, 253)
0px 0px 0px, rgba(0, 0, 0, 0.498) 0px 5px 10px;
font-size: 75px;
color: white;
margin-left: 0px;
margin-bottom: 0px;
}


SubHeading {
letter-spacing:0.03em;
font-size: 25px;
font-style: italic;
margin-left: 50px;
color: white;
margin-top: 0px;
}

SubHeading2 {
letter-spacing:0.03em;
font-size: 25px;
font-style: italic;
margin-left: 50px;
color: black;
margin-top: 40px;
}
